@model AdminTask.Models.User

@{
    ViewBag.Title = "Eliminar Usuario";
}

<h2>Eliminar Usuario</h2>

<div>
    <h4>¿Estás seguro de que deseas eliminar este usuario?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
    </dl>
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
    }
</div>